{% load wagtailcore_tags cache_block_tags %}

{% for block in page.body %}

  {% if block.block_type == 'column_struct_data' %}

    {% include_block block with request=request block=block only %}

  {% elif block.block_type == 'column_stream_data' %}

    {% include_block block with request=request block=block only %}

  {% else %}

    {% cache_block 300 request block %}
      <section class="{{ block.block_type }}">
        {% include_block block with request=request block=block only %}
      </section>
    {% endcache_block %}

  {% endif %}

{% endfor %}
